<ion-app>
	<ion-header class="ion-no-border">
		<ion-toolbar color="primary" class="ion-color-light">
			<ion-segment style="flex: 1;">
				<ion-segment-button value="home" (click)="navigateTo('home')">
					<ion-label>Home</ion-label>
				</ion-segment-button>
				<ion-segment-button value="artists" (click)="navigateTo('artists')">
					<ion-label>Artists</ion-label>
				</ion-segment-button>
				<ion-segment-button value="lps" (click)="navigateTo('lps')">
					<ion-label>LPs</ion-label>
				</ion-segment-button>
			</ion-segment>
			<ion-buttons slot="end" class="login-logout-container">
				<ion-button (click)="doLogout()" style="flex: none;width:12ch;">Logout</ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<router-outlet></router-outlet>
	</ion-content>
</ion-app>