#container {
  position: absolute;
  left: 0;
  right: 0;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.table-container {
  width: 80%;
  //Center horinzontally
  margin-left: auto;
  margin-right: auto;
  .mat-mdc-table {
      background-color: var(--ion-color-primary);

      th, td {
          text-align: center;
          border-bottom: 1px solid #000000; /* O el color opuesto deseado */
      }
  }
}
.table-header {
  margin-top:200px;
  margin-bottom: 50px;
  background-color: var(--ion-color-primary-contrast);
  color: var(--ion-color-primary);
  font-weight: bold;
  text-align: center;
}